@charset "utf-8";

#member_list_main{display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100vh;}

#heading_wrap{margin-bottom: 60px;}
#heading_wrap .title_box{}
#heading_wrap .title_box a{display: flex; justify-content: center; align-items: flex-end; gap: 0 20px;}
#heading_wrap .title_box h1{font-size: 3.0rem; letter-spacing: -1px;}
#heading_wrap .title_box .more_icon{font-size: 1.2rem;}

#member_list_wrap{display: flex; justify-content: center; gap: 50px; flex-wrap: wrap; width: 640px}
#member_list_wrap > li{cursor: pointer;}
#member_list_wrap .my_img{width: 150px; height: 150px; overflow: hidden; border-radius: 5px; background-color: pink;}
#member_list_wrap .my_img > li{}
#member_list_wrap .my_img img{}
#member_list_wrap .my_name{margin-top: 12px; text-align: center; font-size: 1.6rem;}

.my_popup_layer{position: fixed; left: 0; top: 0; width: 100%; height: 100vh; background-color: rgb(0 0 0 / 70%);}
.my_popup_layer .inner_wrap{height: 100%; overflow: auto; background-color: #fff;}